@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=JetBrains+Mono:wght@100..800&display=swap");
@import "tailwindcss";
@import "@ku0/design-system/core.css";
@import "./base.css";
@import "./animations.css";

@config "../../tailwind.config.ts";
